.tab-button{
    background-color: #250c46;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

.tab-button h4{
    margin: 0;
    color: #9f87b6;
    font-size: 14px;
}

.tab-button .btns{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 5px;
}