
<div class="body">
<div class="cards">
    <h1>Core Concepts</h1>
   <div class="core">
     @for(CORE_CONCEPT of CORE_CONCEPTS; track CORE_CONCEPT.title){
            <app-carte-component Image={{CORE_CONCEPT.image}} description ={{CORE_CONCEPT.description}} title={{CORE_CONCEPT.title}}></app-carte-component>

    }
   </div>
    
   
</div>
<div class="tab-button">
    <h4>EXAMPLES</h4>
    <div class="btns">
        @for (item of data; track $index) {
            <app-tab-button label={{item.title}} >
                @if(item.title ==""){
                <div>{{}}</div>
            }
            </app-tab-button>
            
        }
    </div>
</div>
</div>

