
.body{
  background-color: #230742;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: rgb(196, 193, 193);
}

.tab-button {
  padding: 8px 16px;
  border: none;
  background-color: #230742;
  margin-right: 8px;
  color: white;
  cursor: pointer;

  
}

.tab-button.active {
  background: #7925d3;
  border-radius: 6px;
  color: white;
}

.tab-content {
  margin-top: 20px;
  background: #2f1d43;
  padding: 12px;
  
  color: white;
}


.cards {
  background: hsl(268, 70%, 11%);
  color: white;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
  display: flex;
  margin: 70px;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
  
}
.core{
    display: flex;
}



section {
  background: rgba(255, 255, 255, 0.04);
  padding: 2rem ;
  width: 230px;
  border-radius: 6px;
  text-align: center;
}


img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

section h1 {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  color: #ffffff;
}

section p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #c8c3dd;
}

.topic{
  font-size: 20px;
  margin-left: 50px;
 color: gray !important;}
.tab-button{
    background-color: #250c46;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

.tab-button h4{
    margin: 0;
    color: #9f87b6;
    font-size: 14px;
}

.tab-button .btns{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 5px;
}