button{
    background: none;
    color: white;
    font-size: 10px;
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;

}

button:hover{
    background-color: #1b082f;
    color: #ebe7ef;
}

.active{
    background-color: #752fd4;
}